*{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-bar img{
  height: 50px;
  width: 140px;
  margin: 30px 50px;
}
.nav-bar{
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
  width: 100%;
  box-shadow: #333333;
  margin-inline: 0px 70px 0px 70px;
}
.nav-bar {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
}
.nav-section a:hover{
  color: #d6004c;
}
.nav-bar a{
  text-decoration: none;   
}
a{
  text-decoration: none;
  color: #333333;
}
.support-btn button a{
  color: #FFFFFF;
  font-weight: bold;
}
.nav-section{
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-left: 20px;
}
.support-btn button{
  color: #FFFFFF;
  background-color: #E31B54;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 19px;
  font-weight: 200;
}

.achieve {
justify-items: center;
}


.top {
font: 1em sans-serif;
font-size: 35px;
/* justify-content: center; */
padding-top: 200px;
/* padding-left: 200px; */
}
.text {
font-size: 19px;
justify-content: center;
margin: top 50px;
padding-top: 50px;
padding-left: 100px;
}

.link button{
    height: 50px;
    width: 180px; 
    /* padding-top: 100px; */
    background-color: #E31B54;
    /* color: white; */
    border-radius: 6px;
    border: none; 
    margin-bottom: 100px;
    margin-top: 80px;
    font-size: 18px;
    font-weight: 200px;

}
.link button a{
    color: white;
}

.container {
  max-width: 1080px;
  margin: auto;
  background-color: #000;
  height: auto;

}

.main-video {
  position: relative;
  background-color:#E31B54;;
  overflow: hidden;
  border-radius: none;
}

.main-image {
  width: 100%;
  height: auto;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
  background: #e91e63;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.video-title {
  position: absolute;
  top: 10px;
  left: 20px;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
.back{
  background-color:grey;
}

.thumbnail-carousel {
  display: flex;
  overflow-x: auto;
  margin-top: 10px;
  gap: 10px;
}

.thumbnail.active {
  display: flex;
  border: none;
  background-color: #e91e63;
  width: 210px;
  height: 80px;
  margin-top: none;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;

}

.thumbnail.active img {
  width: 30%;
  height: 60px;
  object-fit: cover;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 5px;
  
}
.thumbnail.active span{
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFFFFF;
}

.woman {
  display: flex;
  width: 150px;
  border-radius: none;
  border: none;
  background-color: black;
  width: 210px;
  height: 80px;
  margin-top: none;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
}
.woman img{
  width: 40%;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
  padding-left: 10px;
  padding-top: 5px;
}

.woman span{
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFFFFF;
}
.woman:hover{
  background-color: #FF1C2740;
}
.woman:active{
  background-color: #E31B54;
}

.round img { 
    width: 900; 
    height: 800px;
    justify-items: center;
    align-items: center;
    padding-left: 250px;
    /* padding-top: 70px; */
    padding-bottom: 200px;
    position: absolute;
    bottom: 50px;
  } 

  .pattern img{
    position: relative;
    width: 500px;
    height: 800px;
    padding-left: 900px;
    justify-items: end;
    margin-top: 400px;
    /* padding-top: 10px; */
    /* margin-bottom: 1000px; */
  } 

  .good {
    background-color: #3333330a;
    margin-top: 400px;
    position: relative;
    height: 800px;
  }

  .manner{
    font-size: 40px;
    padding-left: 200px;
    position: relative;
    display: inline-block;

  }

  .acronym{
    font-size: 17px;
    font-weight: lighter;
    color: #333333b0;
    padding-left: 200px;
    /* margin-top: 5px;
    margin-bottom: 200px; */
    font-family: Arial, sans-serif, Trebuchet MS;
    line-height: 1.5;
    

  }
  .vision{
    position: relative;
    /* margin-top: 10px; */
    display: inline-block;
    padding: 10px;
  }

    
  /* .pattern{
    width: 100%;
    position: relative;
    top: 500px;
  } */

  .impact-header {
    font-size: 20px;
    /* font-weight: bold; */
    padding-left: 150px;
    font-family: Arial, sans-serif, Trebuchet MS;
  }
  .impact-header p {
    font-size: 1rem;
    color: #555;
    margin-top: 15px;
    line-height: 1.8;
    font-family: Arial, sans-serif, Trebuchet MS;

  }

  .impact-section {
    display: flex;
    /* gap: 5px; */
    max-width: 1200px;
    /* margin: 0 auto; */
    padding: 100px 50px;
    text-align: left;
    align-items: left;
    margin-top: 10px;
    padding-top: 10px;
    font-family: Arial, sans-serif, Trebuchet MS;
  }
  .impact-images {
    display: flex;  
    justify-content: center;
    margin-top: 40px;
    /* gap: 20px; */
    flex-wrap: wrap;
  }
  .impact-image {
    display: flex;
    max-width: 500px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    /* gap: 10px; */
  }
  .impact-images h1{
    font-size: 24px;
    font-family: Arial, sans-serif, Trebuchet MS;
    margin-top: 5px; */
    padding-left: 350px;
    /* margin-bottom: 15px; */
    
  }
  .date {
    color: #e91e63;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px; 
    margin-top: 10px;
    justify-items: right;
    padding-right: 300px ;
    margin-right: 10px;
  }
  .day{
    padding-right: 300px;
    color: #e91e63;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: 18px;
    margin-right: 40px;
  }

  .impact-images p{
    font-family: 'Arial Narrow Bold', sans-serif ;
    font-size: 15px;
    color: #555;
    padding-right: 85px;
    margin-top: 1px;
    line-height: 1.5;
    
  }
  
  .empowerment-section{
    box-sizing: border-box; 
    margin: 0;
    padding-top: none;
    margin-top: none;
  }

   .VFD-bank {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-image { 
    background: #fff; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    overflow: hidden; 
    width: 50px; 
    max-width: 500px; 
    display: flex; 
    flex-direction: column;
  }
  
  .card-image { 
  width: 100%; 
  height: auto;
    object-fit: cover; 
  } 
   
  .card-content {
    padding: 20px;
  } 
  
  .card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000;
  }
  
  .date {
    color: #e60073;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card p {
    color: #333;
    font-size: 15px;
  }
  

  @media only screen and(max-width:600px)

  body{
    margin: 0%;
}
.Big-footer-container{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-block: 30px;
}

.Big-footer-container2{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    margin-inline: 200px;
    padding-block: 30px;
}
.footer-heading{
    font-size: 18px;
    color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-links{
    font-size: 16px;
    text-decoration: none;
    color: #333333;
    line-height: 21px;
    font-weight: 400;
}
.footer-links-container{
    margin-top: 30px;
    display: grid;
    gap: 20px;
}
.footer-social-media{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.footer-media-links{
    text-decoration: none;
    font-size: 25px;
    color: white;
    background-color: #333333;
    padding-top: 6px;
    padding-inline: 5px;
    border-radius: 50%;
}
footer{
    background-image: url(../images/asset\ 31.svg);
    
    
    
}
.big-footer{
  margin-top: 90px;
}
.hr{
    width: 1000px;
    align-items: center;
}
.footer-p1{
    width: 600px;
}
.footer-p{
    width: 450px;
}
@media only screen and (max-width: 1000px){
    .Big-footer-container{
        display: grid;
        gap: 20px;
        justify-content: left;
        margin-inline: 50px;
    }
    .Big-footer-container2{
        display: grid;
        padding-inline: 10px;
        justify-content: left;
        line-height: 2;
        margin: 0%;
        gap: 0px;
        margin-top: ;
    }
    .hr{
        width: 100px;
    }
    .footer-p{
        width: 100%;
        padding-top: 200px;
        margin-top: 200px ;
    }
    .footer-p1{
        width: 100%;
    }
}
